<!-- Loop over each object in the projects array -->
<br />
<h1>Current Tech Topics:</h1>
{{#each topics as |topic|}}
  <div class='card'>
    <div>
      <h2>

        <a
          target='_blank'
          href={{topic.thumbnailUrl}}
          style='height: 100rem width: 75rem'
        >
          <img src={{topic.thumbnailUrl}} style='width:150px' />
        </a>
        <a href='/topic/{{topic.id}}'>
          <br />
          {{topic.title}}
        </a>

      </h2>

      <p>
        {{topic.longDescription}}
      </p>

    </div>

    <div class=''>
      <p>
        Created by:
        {{topic.authors}}
      </p>
      <p>Created on: {{format_date topic.date_created}}</p>
    </div>
  </div>
{{/each}}
<br />
<br />